@charset "utf-8";
@media(max-width:1440px){
    .container{width: 100%;}
    
    
}
@media(max-width:768px){
    .logo img {
        width: 150px;
    }
    /* .banner_title {
        font-size: 2rem;
    } */

    /* .banner_desc {
        font-size: 1rem;
    } */
}
@media (max-width: 480px) {
    .logo img {
        width: 110px;
    }
}

/* 모바일 */
@media (max-width: 600px) {
    #header .pc > .container {
        overflow-x: auto;
    }

    .nav ul li a {
        margin: 0 6px;
    }

    .subnav {
        margin-left: 6px;
    }
}
