*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
a{
    text-decoration: none;
    color:var(--black100);
}
li{
    list-style: none;
}




/* 글씨 */


/* 헤더 */
#header{
    
}
/* 배너 */
.banner_title{
    font-size: var(--font-size-banner); /* 40px */
    font-weight: 700;
}

.headeing_32px{
    font-size: var(--font-size-heading-responsive); /* 32px */
    font-weight: 700;
    
}

.heading_20px{
    font-size: var(--font-size-title-sm);
    font-weight: 700;
}

.banner_desc{
    font-size: var(--font-size-description); /* 24px */
}

.bodylarge_18px{
    font-size: var(--font-size-large-responsive); /*18px*/
    white-space: nowrap;
}

/* 로그인, 더보기 */
.body_1rem{
    font-size: var(--font-size-body-responsive); /*16px*/
    white-space: nowrap;
}
.body_14px{
     font-size: var(--font-size-small-responsive);
    white-space: nowrap;
}

.body_13px{
    font-size: var(--font-size-sm);
}
